
#abouthtml {
    background: url(../img/abstract.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #team {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
  }

  .card {
    font-size: 20px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
  }

  .profile-picture {
    height: 250px;
    width: 300px;
    border-radius: 10px;
    align-self: center;
  }

  .info {
    margin-top: 15px;
    width: 300px;
    padding: 0px 0px 10px 10px;
    border: 4px solid rgb(110, 159, 244);
    border-radius: 10px;
  }

  .name {
    align-self: center;
  }

  p {
    align-self: center;
  }