html {
    background: url(../img/donate-gradient.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#donate {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    padding-top: 5vh;
    font-weight: 500;
    font-size: 50px;
    display: block;
    text-align: left;
}

h2 {
    margin-top: -2vh;
    padding-left: 0vh;
    font-weight: 500;
    font-size: 20px;
    display: block;
    text-align: left;
}

.content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}