body {
	background-color: rgb(100,230,200);
	display: flex;
	padding: 10px 0px 300px 50px;	
	flex-direction: row;
	flex-wrap: wrap;
	font-family: georgia, times;
	border: 1px solid #fff;
}

nav {
	width: 150px;
	height: 150px;
	padding-right: 50px;
	/*margin-bottom: -200px;*/
	/*border: 2px solid black;*/
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

nav a {
	font-size: 20px;
	padding: 10px 0px 5px 10px;
	box-sizing: border-box;
	border: 1px solid #fff;
	color: #000;
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	border: 1px solid #333;
	color: rgb(100,230,200);
	background-color: #FFEFD5 !important;
}

.content {
	width: 60vw;
	border: 2px solid #fff;
	padding-left: 30px;
	margin-top: 10px;
}

img {
	position: absolute;
	left: 150px;
}

.header {
	display: flex;
	flex-direction: row;
	position: relative;
}

.pageName {
	padding-left: 35px;
}

footer {
	position: fixed;
	bottom: 3px;
	margin-right: 50px;
	border-top: thin dotted ;
}

footer a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}






